.headerContainer {
  grid-area: header;
}

.mainPageWrapper {
  display: grid;
  height: 100svh;
  grid-template-columns: 310px minmax(310px, 1fr);
  grid-template-rows: 80px minmax(500px, 1fr);
  grid-template-areas:
    'header header'
    'sidebar main';
  padding-bottom: 12px;
  width: clamp(600px, 100%, 1440px);
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1130px) {
  .mainPageWrapper {
    grid-template-columns: minmax(824px, 1130px);
    grid-template-rows: 100px 1fr;
    grid-template-areas:
    'header'
    'main';
  }

  .sidebar {
    display: none;
  }

  .player {
    grid-area: sidebar main;
  }
}

.player {
  border-bottom: 1px solid var(--providence-blue);
  background-image: url('/providence.ico');
  background-size: 10px 10px;
  border-radius: 5px;
  border-right: 1px solid var(--providence-blue);
}

.sessionSummary {
  background-color: var(--providence-blue);
  color: black;
  border-radius: 8px;
  padding: 24px;
  overflow: scroll;
}

.sessionSummaryContainer {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  flex-direction: column;
  color: var(--providence-light-white);
  margin-top: 32px;
}

.sessionSummaryContainer h1 {
  color: black;
  border-bottom: 1px solid black;
}

.sessionSummaryContainer h2 {
  color: black;
  margin-top: 0px;
}

.sidebar {
  grid-area: sidebar;
  overflow: scroll;
  border-radius: 8px;
  scrollbar-width: thin;
  scrollbar-color: var(--providence-red) var(--providence-black);
  border: 1px solid var(--providence-blue);
  border-top: none;
}