.gradientText {
  background-image: linear-gradient(to right bottom, #f45c5c, #ff8551, #ffaf50, #ffd85f, #f5ff80);
  -webkit-background-clip: text;
  background-clip: text;  
  -webkit-text-fill-color: transparent;
}

.header {
  padding: 8px 24px;
  display: flex;
  align-items: center;
}

.headerChoice {
  display: flex;
  font-size: .7rem;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding-top: 2px;
  transition: transform 0.3s ease;
  margin-right: 16px;
}

.headerChoice:hover {
  transform: scale(1.2)
}

.infinity {
  background-color: var(--providence-red);
  border-radius: 4px;
}

.login {
  margin-left: auto;
  background-color: var(--providence-red);
  padding: 8px;
  border-radius: 9999px;
  color: black;
  width: 100px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

.login:hover {
  background-color: hsl(0, 70%, 44%);
}

.middleEye {
  margin-left: 20px;
  transition: transform 0.5s ease;
  opacity: 0;
}

.middleEye:hover {
  opacity: 1;
  transform: scale(5);
}

.midpoint {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center; 
  width: 30%;
}

.pageSelected {
  transform: scale(1.2)
}

.projectName {
  padding: 8px;
  border-radius: 8px;
  margin-left: 2%;
  white-space: nowrap;
  border: 1px solid var(--providence-white);
  overflow: hidden;
}