.dropdownContainer {
  background-color: var(--providence-white);
  position: absolute;
  left: 30px;
  bottom: -80px;
  color: var(--providence-gray);
  border: 3px solid var(--providence-black);
  text-align: left;
  padding-right: 8px;
}

.dropdownContainer li {
  margin-bottom: 5px;
  cursor: pointer;
}

.dropdownContainer li button {
  all: unset;
}

.dropdownContainer li:hover {
  background-color: var(--providence-light-blue);
}

.dropdownContainer ul {
  list-style: none;
  padding-left: 4px;
}
